
<%- include('header') %>
<style>
    .news-item {
        width: calc(25% - 0px) !important;
    }
</style>
    <section class="main-container simg-white simg-bg-tangerine">
        <div class="main-title simg-bg-tangerine simg-bg-white">
            革新的な未来をリードする<br>重機トレーニングVRコンテンツ制作
        </div>
    </section>

    <section class="simulator-container">
        <div class="simulator simg-bg-white">
            <iframe src="https://www.youtube.com/embed/U9CL2skuM-M?si=9ImnxfBQQqkpU5q3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="simulator-info">
                <p class="simulator-type simg-body3 text-left simg-tangerine">重機シミュレーター</p>
                <h3 class="simulator-title simg-title2 text-left simg-black">ショベルカーシミュレーター</h3>
                <p class="simulator-description simg-body3 text-left simg-gray500">シミュレーション機器でショベルカーの練習を学ぶことができます</p>
                <a href="/ja/product/2" class="menu-detail-button simg-body2 text-center simg-white simg-bg-blue">続きを読む</a>
            </div>
        </div>
        <div class="simulator simg-bg-white">
            <iframe src="https://www.youtube.com/embed/hU2xK6LCUeo?si=9xt2B9Nd0TwQZR16" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="simulator-info">
                <p class="simulator-type simg-body3 text-left simg-tangerine">重機シミュレーター</p>
                <h3 class="simulator-title simg-title2 text-left simg-black">フォークリフトシミュレーター</h3>
                <p class="simulator-description simg-body3 text-left simg-gray500">シミュレーション機器でフォークリフトの練習を学ぶことができます。</p>
                <a href="/ja/product/1" class="menu-detail-button simg-body2 text-center simg-white simg-bg-blue">続きを読む</a>
            </div>
        </div>
    </section>
    <section class="client-container">
        <div class="partnership-banner">
            <div>
                <div class="partnership-type simg-body2 text-left simg-blue simg-bg-white">R&D</div>
                <div class="partnership-title simg-title2 text-left simg-white">各分野の専門家にカスタマイズされたソリューションを提供します。</div>
                <div class="partnership-description simg-body1 text-left simg-white simg-opacity60">最適なソリューションでビジネスにカスタマイズされた革新を提供します。</div>
            </div>
            <a href="/ja/partnership" class="partnership-detail-button simg-body2 text-center simg-blue simg-bg-white">続きを読む</a>
        </div>
    </section>
    <section class="news-container mt-3 simg-page-bg">
        <div class="section-title simg-heading4 text-center simg-black">LATEST NEWS</div>
        <p class="section-subtitle simg-body2 text-center simg-gray800 simg-opacity60">最新技術で産業安全を革新するSimGのアップデートとニュースをご覧ください。</p>
        <button class="button-arrow" id="news-prev-button"><img src="/public/images/btn-arrow-left.png" alt="Before-News"></button>
        <div class="news-wrapper">
            <ul class="news-carousel">
                 <% dataNews.forEach(function(news) { %>
                <li class="news-item">
                    <img src="../uploads/news/<%= news.news_cover_image %>" alt="News Image 1">
                    <div class="news-content simg-bg-white">
                        <span class="news-category">&nbsp;</span>
                        <span class="news-date simg-body3 text-left simg-gray400"><%= news.news_date %></span>
                        <div class="news-title simg-body2 text-left simg-black"><%= news.news_title_ja %></div>
                        <p class="news-description simg-body4 text-left simg-gray400">
                            <% 
                                var words = news.news_content_ja.split(' ');
                                var truncatedContent = words.slice(0, 9).join(' ');
                                if (words.length > 9) {
                                    truncatedContent += '...';
                                }
                                %> <%= truncatedContent %> <% 
                           
                            %>

                        </p>
                        <a href="/ja/news/" class="news-detail-button simg-body2 text-center simg-bg-blue simg-white">뉴스 더보기</a>
                    </div>
                </li>
                <% }); %>
            </ul>
        </div> 
        <button class="button-arrow" id="news-next-button"><img src="../images/btn-arrow-right.png" alt="After-News"></button>
    </section>

    <section class="client-container">
        <div class="section-title simg-heading4 text-center simg-black">OUR CLIENTS</div>
        <p class="section-subtitle simg-body2 text-center simg-gray800 simg-opacity60">株式会社シムジは、世界中の多くのブランドと協力し、カスタマイズされた3Dコンテンツソリューションを提供しています。</p>
        <button class="button-arrow" id="client-prev-button"><img src="../images/btn-arrow-left.png" alt="Before-Logo"></button>
        <div class="client-wrapper">
            <ul class="client-carousel">
                <% dataClient.forEach(function(client) { %>
                <li class="client-logo"><img src="../uploads/client/<%= client.client_logo %>" alt="<%= client.client_name %>" title="<%= client.client_name %>"></li>
                <% }); %>
            </ul>
        </div>
        <button class="button-arrow" id="client-next-button"><img src="/public/images/btn-arrow-right.png" alt="After-Logo"></button>
    </section>
   
    <section class="contact-container simg-page-bg ">
       
        <h2 class="section-title  simg-heading4 text-center simg-black">CONTACT US</h2>
        <p class="section-subtitle simg-body2 text-center simg-gray800 simg-opacity60">準備されたXR専門家コンサルタントが、あなたの未来を提案します。</p>
        <div class="row p-3">
            <div class="contact-partner-item col  simg-bg-white">
                <div class="contact-item-title simg-title3 text-left simg-black">選定事業の協業に関するお問い合わせ</div>
                <div class="contact-item-subMessage">お問い合わせ番号 : 052-221-3001/3007</div>
                <div class="contact-item-subMessage">Eメール : simg@simglab.com</div>
            </div>
            <div class="contact-partner-item col  simg-bg-white">
                <div class="contact-item-title simg-title3 text-left simg-black">製品およびサービス導入に関するお問い合わせ</div>
                <div class="contact-item-subMessage">お問い合わせ番号 : 052-221-3001/3007</div>
                <div class="contact-item-subMessage">Eメール : simg@simglab.com</div>
            </div>
        </div>
        <div class="contact-form pt-4 pb-5 simg-bg-white">
            <%- include('contactform') %>
            
        </div>
    </section>
  
    
    
    <div id="simg-templete-footer"><%- include('footer') %></div>
   
  

   
</body>
</html>
