<%- include('header') %>

    <div class="menu-tag"><a class="index-tag" href="/ja">ホームページ</a> > <a class="aboutUs-tag" href="#">パートナーシップ</a></div>
    <section class="partnership-page-container">
        <div>
            <div class="partnership-page-title">SIMG Co., Ltd. は、さまざまなシミュレータ、XR コンテンツ、およびソリューションを提供します。</div>
            <div class="partnership-page-message">
                需要のある企業のための革新的なXRコンテンツの創出を支援し、産業生態系活性化のためのパートナーシップを運営します。

                これを通じて企業が創意的で競争力のあるコンテンツを生産できるように支援し、グローバル市場の競争力強化を目標にしています。
            </div>
        </div>
        <div>
            <img src="/public/images/img-partnership.jpg" class="partnership-page-image">
        </div>
    </section>

    <section class="partnership-products-container">
        <div class="partnership-products-list">
            <%   dataPatnership.forEach(function(partnership) { %>
                <div class="partnership-products-item">
                    <img src="/public/uploads/partnership/<%= partnership.partner_img %>">
                    <div class="partnership-products-item-type"><%= partnership.partner_name_ja %></div>
                    <div class="partnership-products-item-title">AR 조립가이드 솔루션</div>
                    <div class="partnership-products-item-content">
                        <%   let detail = partnership.partner_detail_ja; let splitDetails = detail.split('.');  %>
                        <ul>
                            <% splitDetails.forEach(function(part) { %>
                              <li style="margin-bottom: 5px;"><%= part.trim() %></li>
                            <% }); %>
                          </ul>
                    </div>
                </div>
                <%}); %>
            
            
        </div>
        <div class="partnership-products-button-area">
            <a href="/ja/contact" class="partnership-page-contact-button">お問い合わせします</a>
        </div>
    </section>

    


    <style>
        .pagination .page-item.active .page-link {
            color: white !important;
            background: #ccc;
        }

        .latest-news-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 230px;
            padding: 10px;
        }

        .latest-news-info p {
            margin: 5px 0;
        }
    </style>

    <div id="simg-templete-footer"><%- include('footer') %></div>
    <script>
        $(document).ready(function () {
            $('.accordion-title').click(function () {
                $('.accordion-content').slideUp();
                $('.accordion-title').removeClass('active');

                if ($(this).next('.accordion-content').is(':visible')) {
                    $(this).next('.accordion-content').slideUp();
                    $(this).removeClass('active');
                } else {
                    $(this).next('.accordion-content').slideDown();
                    $(this).addClass('active');
                }
            });
        });
    </script>